.btn-primary {
  background-color: var(--color-red);
  color: var(--color-gray-4);
  transition: all 0.2s ease-in;
  height: 5.6rem;
  font-weight: 600;
}

.btn-primary:hover {
  filter: contrast(110%);
}
.btn-primary:disabled {
  background-color: gray;
}

.btn-primary:hover i {
  transform: translateX(6px);
}
.btn-secondary {
  background-color: inherit;
  border: 2px solid var(--color-gray-4);
  color: var(--color-gray-4);
  height: 5.6rem;
  font-weight: 600;
}

.btn-secondary:hover i {
  transform: translateX(6px);
}
i {
  font-size: 1.8rem;
}
