.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  width: 40%;
  padding: 2rem;
  gap: 1rem;
  border-right: 2px solid var(--color-gray-2);
}

.title {
  font-size: 5.6rem;
}

.text {
  font-size: 1.8rem;
  text-align: left;
}

.icons {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}
i {
  transition: all 0.2s;
}
.icons i:hover {
  color: var(--color-red);
}
